@model TDKT.Models.ChartsModel
@{
    ViewBag.Title = "Trang chủ";
    Session["Url"] = Request.RawUrl;
}
@section navPlus {
    @Html.Partial("_changeYear")
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Trang chủ<br /><small class="subtext">tính đến ngày @Session["date"].ToString()</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.TongSo</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "DanhSach")">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Tổng số</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-refresh fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.ChuaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "DanhSach", new { Status = 0})">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Chưa triển khai</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "DanhSach", new { Status = 1})">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            Đã triển khai
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaKetThuc</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "DanhSach", new { Status = 3})">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            Đã kết thúc
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Tiến độ phát hành báo cáo
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @(Model.Charts[0])
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>
                Các cuộc kiểm toán đã kết thúc nhưng quá hạn trình xét duyệt BCKT
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="notEnd" class="table hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th style="width:10px !important">STT</th>
                                <th></th>
                                <th>Tên cuộc kiểm toán</th>
                                <th style="width:130px !important">Đơn vị thực hiện</th>
                                <th style="width:80px !important">Số QĐ</th>
                                <th style="width:130px !important">Lĩnh vực</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>
                Các cuộc kiểm toán đã quá hạn để đơn vị trình Vụ Tổng hợp phát hành BCKT
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="notSend" class="table hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th style="width:10px !important">STT</th>
                                <th></th>
                                <th>Tên cuộc kiểm toán</th>
                                <th style="width:130px !important">Đơn vị thực hiện</th>
                                <th style="width:80px !important">Số QĐ</th>
                                <th style="width:130px !important">Lĩnh vực</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highcharts")
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.js")"></script>
    <script>
        $(function () {
            gS($('#notEnd'), "@Url.Action("AjaxHandler", "DanhSach")", 9);
            gS($('#notSend'), "@Url.Action("AjaxHandler", "DanhSach")", 10);
        });
        function gS(o, u, s) {
            return o.DataTable({
                "sAjaxSource": u,
                "bStateSave": true,
                "columns": [
                    { "data": "col0", "width": "10px", "class": "center" },
                    { "data": "col1", "visible": false, "searchable": false },
                    { "data": "col2" },
                    { "data": "col3" },
                    { "data": "col4" },
                    { "data": "col5" },
                ],
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "Year", "value": $("span#year").text() });
                    aoData.push({ "name": "Status", "value": s });
                },
                "fnDrawCallback": function () {
                    $('button.btn, a.btn').tooltip({ 'delay': { show: 500 } });
                }
            }).on('mouseover', 'tr[role = "row"] td', function () {
                o.find('tbody tr').removeClass('highlight');
                $(this).closest('tr').addClass('highlight');
            });
        }
    </script>
}