@model TDKT.Models.ChartsModel

@{
    ViewBag.Title = "Home Page";
    Session["Url"] = Request.RawUrl;
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Trang chủ</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.TongSo</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Tổng số
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-refresh fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.ChuaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            Chưa triển khai
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            Đã triển khai
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaKetThuc</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            Đã kết thúc
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tiến độ phát hành báo cáo
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @(Model.Charts[0])
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/highcharts")
}