@model THKQKT.Models.getCuocByID_Result
@{
    ViewBag.Title = "Cập nhật số liệu Tổng hợp kết quả kiểm toán";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>
                <i class="fa fa-database fa-fw"></i> @ViewBag.Title
                <br />
            </h2>
        </div>
    </div>
</div>
<div class="panel panel-green">
    <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i>Thông tin về cuộc kiểm toán
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div><label>Tên cuộc kiểm toán:</label> @Model.TenCuoc</div>
        <div>Ngày bắt đầu: @String.Format("{0:dd//MM/yyyy}", Model.NgayBatDauThucHien)</div>
    </div>
    <!-- /.panel-body -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-file-o fa-fw"></i> Các chỉ tiêu
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tblChiTieu" class="table hover table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="min25">Tên chỉ tiêu</th>
                        <th style="width:150px !important">Số kiểm toán</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
@section Scripts{
    <link rel="stylesheet" href="@Url.Content("~/Content/Datepicker/datepicker.css")" />
    @Styles.Render("~/Content/datatable", "~/Content/toastr")
    @Scripts.Render("~/bundles/datatable", "~/bundles/datepicker", "~/bundles/toastr")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-validate.bootstrap-tooltip.js")"></script>
    <script>
        var o;
        $(function () {
            o = getTongHop($('#tblChiTieu'), "@Url.Action("getTongHopList", "TongHop")");
            o.on('click', 'button.edit', function (e) {
                e.preventDefault();
                var data = o.row($(this).parents('tr')).data();
                u = '@Url.Action("EditTongHop")';
                $.get(u, { key1: data["col3"], key2: '@Session["CuocID"]', key3: data["col0"] }, function (msg) {
                    $('body').append(msg);
                });
            });
        });

        function getTongHop(o, u) {
            return o.DataTable({
                "sAjaxSource": u,
                "bPaginate": false,
                "columns": [
                    { "data": "col0", "sortable": false },
                    { "data": "col1", "sortable": false },
                    { "data": "col2", "searchable": false, "sortable": false },
                    { "data": "col3", "visible": false, "searchable": false, "sortable": false },
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    switch (aData["col2"]) {
                        case 1:
                            $(nRow).css("font-weight", "bold");
                            $(nRow).find("td:nth-child(3)").html("");
                            break;
                        case 0:
                            $(nRow).find("td:nth-child(3)").html('<button class="btn btn-sm btn-primary mgr2 edit" data-toggle="tooltip" data-placement="top" title="Thay đổi thông tin"><span class="glyphicon glyphicon-pencil"></span></button>');
                            break;
                    }
                },
                "fnDrawCallback": function () {
                    $('button.btn, a.btn').tooltip({ 'delay': { show: 500 } });
                }
            }).on('mouseover', 'tr[role = "row"] td', function () {
                o.find('tbody tr').removeClass('highlight');
                $(this).closest('tr').addClass('highlight');
            });
        }
    </script>
}