@model THKQKT.Models.SoLieuTongHopViewModel

<div class="modal modal-wide fade" id="modalSolieu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <i class="fa fa-file-o fa-fw"></i> Cập nhật số liệu cho chỉ tiêu
                    <i>"@ViewBag.TenChiTieu"</i>
                </h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("SoLieuTongHop", null, null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "reloadTable",
                    UpdateTargetId = "MsgSoLieuTongHop",
                    InsertionMode = InsertionMode.Replace
                }, new { @id = "frmSolieu", @autocomplete = "off", }))
                {
                    <div class="form-horizontal">
                        @Html.HiddenFor(c => c.MaSoLieuChiTieu)
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Ngày nhập</label>
                            <div class="col-md-3">
                                <div class='input-group date'>
                                    @Html.TextBoxFor(c => c.ThoiGian, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm" })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Nội dung</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(c => c.NoiDung, new { @class = "form-control input-sm", @rows = "2", @placeholder = "Nội dung" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Số liệu</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(c => c.SoTien, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button class="btn btn-primary" id="btn-ok">
                                <span class="bootstrap-dialog-button-icon glyphicon glyphicon-check"></span>
                                Lưu thông tin
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <span class="bootstrap-dialog-button-icon glyphicon glyphicon-log-out"></span>
                                Bỏ qua
                            </button>
                        </div>
                    </div>
                    <span id="MsgSoLieuTongHop" hidden></span>
                }
            </div>
            <div class="modal-footer">
                <div class="table-responsive">
                    <table id="tblSoLieu" class="table hover table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width:72px !important">Ngày nhập</th>
                                <th>Nội dung</th>
                                <th style="width:100px !important">Số tiền</th>
                                <th style="width:55px !important"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function reloadTable() {
            setTimeout(function () {
                toastr.success($('#MsgSoLieuTongHop').text());
            }, 300);
            $("#MaSoLieuChiTieu").val("");
            $('#frmSolieu')[0].reset();
            soLieu.ajax.reload();
            o.ajax.reload();
        }
        var t = $('#modalSolieu div.date').datepicker(option);
        $('#modalSolieu').modal('show');
        $('#modalSolieu').on('hidden.bs.modal', function (e) {
            $('#modalSolieu').remove();
        });
        var soLieu;
        $(function () {
            $("#frmSolieu").validate({
                rules: {
                    ThoiGian: "required",
                    NoiDung: "required",
                    SoTien: { required: true, number: true }
                }, messages: {
                    ThoiGian: "Không được để trống!",
                    NoiDung: "Không được để trống!",
                    SoTien: {
                        "required": "Không được để trống!",
                        "number": "Không đúng kiểu!"
                    }
                }
            });
            soLieu = $('#tblSoLieu').DataTable({
                "sAjaxSource": "@Url.Action("getSoLieuChiTieu", "TongHop")",
                "bStateSave": true,
                "bFilter": false,
                "bInfo": false,
                "bPaginate": false,
                "columns": [
                    { "data": "col0", "width": "10px", "class": "center", "sortable": false, "visible": false },
                    { "data": "col1", "sortable": false },
                    { "data": "col2", "sortable": false },
                    { "data": "col3", "sortable": false },
                    {
                        "targets": -1,
                        "sortable": false,
                        "searchable": false,
                        "data": null,
                        "defaultContent": '<button class="btn btn-sm btn-primary mgr2 form-group edit" data-toggle="tooltip" data-placement="top" title="Thay đổi thông tin"><span class="glyphicon glyphicon-pencil"></span></button><button class="btn btn-sm btn-danger delete form-group" data-toggle="tooltip" data-placement="top" title="Xóa"><span class="glyphicon glyphicon-trash"></span></button>'
                    }
                ],
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "MaChiTieu", "value": '@Session["MaChiTieu"].ToString()' });
                    aoData.push({ "name": "MaCuoc", "value": '@Session["MaCuoc"].ToString()' });
                },
                "fnDrawCallback": function () {
                    $('#tblSoLieu button.btn, #tblSoLieu a.btn').tooltip({ 'delay': { show: 500 } });
                }
            }).on('mouseover', '#tblSoLieu tr[role = "row"] td', function () {
                console.log(this);
                $('#tblSoLieu tbody tr').removeClass('highlight');
                $(this).closest('tr').addClass('highlight');
            });
            soLieu.on('click', 'button.edit', function (e) {
                e.preventDefault();
                var data = soLieu.row($(this).parents('tr')).data();
                $("#MaSoLieuChiTieu").val(data["col0"]);
                t.datepicker("setDate", data["col1"]);
                $("#NoiDung").val(data["col2"]);
                $("#SoTien").val(data["col3"]);
            });
            soLieu.on('click', 'button.delete', function (e) {
                e.preventDefault();
                var data = soLieu.row($(this).parents('tr')).data();
                u = '@Url.Action("DelSoLieuTongHop", "TongHop")';
                $.post(u, { key: data["col0"] }, function (msg) {
                    $('#MsgSoLieuTongHop').empty().append(msg);
                    reloadTable();
                });
            });
        });
    </script>
</div>
