@model TDKT.Models.CUOC_KT

@using (Html.BeginForm("Delete", null, FormMethod.Post, new { @id = "MyForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×@Html.HiddenFor(c => c.MA_CUOC)</button>
                    <h4 class="modal-title"><i class="fa fa-remove fa-fw"></i> Xóa cuộc kiểm toán</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TEN_CUOC, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.TEN_CUOC, new { @class = "form-control", @disabled = true, @rows = 4 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Đơn vị thực hiện</label>
                        <div class="col-sm-8">
                            @Html.TextBox("DonVi", null, new { @class = "form-control", @disabled = true, @value = ViewBag.DonVi })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Quyết định kiểm toán</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(c => c.SO_QD, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Ban hành ngày</label>
                        <div class="col-sm-4">
                            <div class='input-group date'>
                                @Html.TextBoxFor(c => c.NGAY_QD, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = true })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4><i>Bạn chắc chắn muốn xóa cuộc kiểm toán này?</i></h4>
                    </div>
                </div>


                <div class="modal-footer">
                    <button class="btn btn-danger" id="btn-ok">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span>
                        Xóa
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-log-out"></span>
                        Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#myModal').modal('show');

        //After closing the window, remove the content of the window
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('#MyForm').remove();
        })
    </script>
}

