@using THKQKT.Models
@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Đăng nhập</h1>
            <div class="account-wall">
                <img class="profile-img" src="~/Content/Images/Logo_Banner.png"
                     alt="">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="has-feedback">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập", @autofocus = "true" })
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    @Html.ValidationSummary()
                    <button class="btn btn-lg btn-success btn-block" type="submit">
                        <i class="fa fa-lock fa-fw"></i>
                        Đăng nhập
                    </button>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                }
            </div>
        </div>
    </div>
</div>