@{
    ViewBag.Title = "Danh sách người sử dụng";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="page-header"><i class="fa fa-users fa-fw"></i> Danh sách người sử dụng</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <button class="btn btn-sm btn-success" id="btnAdd" data-toggle="tooltip" data-placement="top" title="Thêm cuộc kiểm toán mới"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
                    </div>
                    <div class="col-sm-4 form-group">
                        @Html.DropDownList("DonVi", (SelectList)ViewBag.Donvi, " -- KIỂM TOÁN NHÀ NƯỚC -- ", new { @class = "form-control input-sm", @style = "float: right" })
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myData" class="table hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th style="width:10px !important">STT</th>
                                <th>ID</th>
                                <th>Họ và tên</th>
                                <th style="width:105px !important">Tên đăng nhập</th>
                                <th style="width:130px !important">Email</th>
                                <th style="width:100px !important">Quyền</th>
                                <th style="width:110px !important">Đơn vị</th>
                                <th style="width:86px !important"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Styles.Render("~/Content/datatable", "~/Content/toastr")
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/toastr", "~/bundles/datatable")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/admin.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/edit.js")"></script>
    <script type="text/javascript">
        $(function () {
            if ('@TempData["msg"]' != "") {
                loadSuccess('@TempData["msg"]');
            }
            $('#btnAdd').click(function (e) {
                e.preventDefault();
                var url = "@Url.Action("Create")";
                $.get(url, function (data) {
                    $('body').after(data);
                });
            });
            o = u($('#myData'), "@Url.Action("AjaxHandler")").on('mouseover', 'td', function () {
                $('#myData tbody tr').removeClass('highlight');
                $(this).closest('tr').addClass('highlight');
            });
            s(o, 'button.resetPwd', "@Url.Action("ResetPassword")", "col1");
            s(o, 'button.delete', "@Url.Action("Delete")", "col1");
            s(o, 'button.edit', "@Url.Action("Edit")", "col1");
            $('#DonVi').change(function () { o.ajax.reload(); });
        });
    </script>
}