@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="page-header">Danh sách đơn vị</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <button class="btn btn-sm btn-success" id="btnAdd" data-toggle="tooltip" data-placement="top" title="Thêm mới đơn vị"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myData" class="table hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th style="width:10px !important">STT</th>
                                <th style="width:10px !important">Mã</th>
                                <th>Đơn vị</th>
                                <th style="width:80px !important">Kiểm toán?</th>
                                <th style="width:120px !important">Đang hoạt động?</th>
                                <th style="width:50px !important"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Styles.Render("~/Content/datatable", "~/Content/toastr")
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/toastr", "~/bundles/datatable")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/admin.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/edit.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#btnAdd').click(function (e) {
                e.preventDefault();
                var url = "@Url.Action("Create")";
                $.get(url, function (data) {
                    $('body').after(data);
                });
            });
            o = d($('#myData'), "@Url.Action("AjaxHandler")", [
                { "data": "col0", "width": "10px", "class": "center" },
                { "data": "col1"},
                { "data": "col2" },
                { "data": "col3", "class":"center"},
                { "data": "col4", "class":"center", "sortable": false },
                {
                    "targets": -1,
                    "sortable": false,
                    "data": null,
                    "defaultContent": '<button class="btn btn-sm btn-primary mgr2 edit" data-toggle="tooltip" data-placement="top" title="Thay đổi thông tin"><span class="glyphicon glyphicon-pencil"></span></button><button class="btn btn-sm btn-danger delete" data-toggle="tooltip" data-placement="top" title="Xóa"><span class="glyphicon glyphicon-remove"></span></button>'
                }
            ]).on('mouseover', 'td', function () {
                    $('#myData tbody tr').removeClass('highlight');
                    $(this).closest('tr').addClass('highlight');
                });
            s(o, 'button.delete', "@Url.Action("Delete")", "ID");
            s(o, 'button.edit', "@Url.Action("Edit")", "ID");
        });
    </script>
}