@model TDKT.Models.CUOC_KT

@using (Html.BeginForm("Create", null, FormMethod.Post, new { @id = "MyForm", @autocomplete = "off"}))
{
    <div class="modal modal-wide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Thêm mới cuộc kiểm toán</h4>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="form-group col-sm-8 col-xs-12 has-feedback">
                            @Html.LabelFor(m => m.TEN_CUOC, new { @class = "control-label" })
                            @Html.TextAreaFor(c => c.TEN_CUOC, new { rows = 4, @class = "form-control input-sm", @placeholder = "Tên cuộc kiểm toán" })
                            @Html.ValidationMessageFor(m => m.TEN_CUOC, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-2 col-xs-6 has-feedback">
                            @Html.LabelFor(m => m.NAM_KT, new { @class = "control-label" })
                            @Html.TextBoxFor(c => c.NAM_KT, new { @class = "form-control input-sm", @placeholder = "Năm thực hiện" })
                            @Html.ValidationMessageFor(m => m.NAM_KT, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-2 col-xs-6">
                            @Html.LabelFor(m => m.NIEN_DO, new { @class = "control-label" })
                            @Html.TextBoxFor(c => c.NIEN_DO, new { @class = "form-control input-sm", @placeholder = "Niên độ kiểm toán" })
                        </div>
                        <div class="form-group col-sm-4 col-xs-12">
                            <label class="control-label">Đơn vị thực hiện</label>
                            @Html.DropDownListFor(c => c.MA_DVKT, (SelectList)ViewBag.Donvi, " -- Chọn đơn vị thực hiện kiểm toán -- ", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-7">
                            <div class="form-group">
                                <label class="control-label">Lĩnh vực kiểm toán</label>
                                @Html.DropDownListFor(c => c.MA_LVKT, (SelectList)ViewBag.LinhVuc, " -- Chọn lĩnh vực kiểm toán -- ", new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Loại hình kiểm toán</label>
                                @Html.DropDownListFor(c => c.MA_LHKT, (SelectList)ViewBag.LoaiHinh, " -- Chọn loại hình kiểm toán -- ", new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group col-sm-7 col-xs-5">
                            <label>Ghi chú</label>
                            @Html.TextAreaFor(c => c.GHI_CHU, new { rows = 4, @class = "form-control input-sm", @placeholder = "Ghi chú về cuộc kiểm toán" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <h4>Chuẩn bị kiểm toán</h4>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox ">
                                    <label>
                                        @Html.CheckBoxFor(c => c.TRINH_KH) Đã trình kế hoạch kiểm toán ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_TRINH_KH, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @alpha = "trinhkh", @disabled = "true" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.DUYET_KH) Đã duyệt kế hoạch kiểm toán ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_DUYET_KH, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "duyetkh" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="title-input control-label">Số quyết định</div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(c => c.SO_QD, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            @*<div class="col-sm-12 form-group">
                                    <div class="title-input control-label">Ngày ra quyết định</div>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(c => c.NGAY_QD, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "duyetkh" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-sm-12 form-group">
                                <div class="title-input control-label">Ngày lưu hành QĐ</div>
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(c => c.NGAY_BDQD, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <h4>Thực hiện kiểm toán</h4>
                            <div class="col-sm-12 form-group">
                                <div class="title-input control-label">Số ngày kiểm toán</div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(c => c.SO_NGAY_KT, new { @class = "form-control input-sm", @value = 0})
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox ">
                                    <label>
                                        @Html.CheckBoxFor(c => c.BAT_DAU_KT) Đã bắt đầu kiểm toán ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_BDTT, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "batdaukt" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="title-input control-label">Ngày kết thúc theo kế hoạch</div>
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(c => c.NGAY_KTKH, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "batdaukt" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox ">
                                    <label>
                                        @Html.CheckBoxFor(c => c.KET_THUC_KT) Đã kết thúc thực tế ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_KTTT, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "ketthuckt" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <h4>Phát hành báo cáo</h4>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.TRINH_DUYET_BCKT) Đã trình duyệt BCKT ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_TRINH_DUYET_BCKT, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "trinhduyetbckt" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.DUYET_BCKT) Đã duyệt BCKT ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_DUYET_BCKT, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "duyetbckt" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.TRINH_PHBC_DV) Đơn vị đã trình phát hành BCKT ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_TRINH_PHBC_DV, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "dvtrinhphbc" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.TRINH_PHBC_VTH) Vụ TH đã trình phát hành BCKT ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_TRINH_PHBC_VTH, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "thtrinhph" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(c => c.PH_BCKT) KTNN đã phát hành BCKT ngày
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(c => c.NGAY_PHBCKT, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @disabled = "true", @alpha = "ktnnphathanh" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" id="btn-ok">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-check"></span>
                        Lưu thông tin
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-log-out"></span>
                        Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //$.validator.unobtrusive.parse('#frmCreate');
        jQuery.validator.addMethod("lessThan", function (n, t, i) { return /Invalid|NaN/.test(n) ? isNaN(n) && isNaN($(i).val()) || Number(n) > Number($(i).val()) : n < $(i).val() }, "Phải nhỏ hơn năm thực hiện"); jQuery.validator.addMethod("greaterThan", function (n, t, i) { return /Invalid|NaN/.test(n) ? isNaN(n) && isNaN(i) || Number(n) > Number(i) : n > i }, "Phải là một số dương");
        $('#myModal div.date').datepicker(option).on("changeDate", function () {
            $(this).children('input[type = "text"]').valid();
            var i = $.inArray(this, $('#myModal div.date'));
            $('#myModal div.date').slice(i - 1, i).datepicker("setEndDate", $(this).datepicker("getDate"));
            if ($(this).has('#NGAY_KTKH').length != 1)
                $('#myModal div.date').slice(i + 1, i + 2).datepicker("setStartDate", $(this).datepicker("getDate"));
        });
        $('#NGAY_KTKH').parent().on("changeDate", function () {
            $('#NGAY_KTTT').parent().datepicker("setStartDate", $('#NGAY_BDTT').parent().datepicker("getDate"));
        });
        $('#NGAY_BDTT').parent().on("changeDate", function () {
            var $a = $(this), $songay = $('#SO_NGAY_KT'), $b = $('#NGAY_KTKH').parent();
            if ($songay.val() != '') {
                var tmp = new Date($a.datepicker("getDate"));
                console.log(parseInt($songay.val()) - 1);
                console.log(tmp.getDate() + parseInt($songay.val()) - 1);
                tmp.setDate(tmp.getDate() + parseInt($songay.val()) - 1);
                
                $b.datepicker("setDate", tmp);
            }
        });
        $('#SO_NGAY_KT').on("change", function () {
            var $a = $('#NGAY_BDTT').parent(), $songay = $('#SO_NGAY_KT'), $b = $('#NGAY_KTKH').parent();
            console.log($('#NGAY_BDTT').val());
            if ($('#NGAY_BDTT').val() != '') {
                var tmp = new Date($a.datepicker("getDate"));
                console.log(parseInt($songay.val()) - 1);
                console.log(tmp.getDate() + parseInt($songay.val()) - 1);
                tmp.setDate(tmp.getDate() + parseInt($songay.val()) - 1);
                
                $b.datepicker("setDate", tmp);
            }
        });
        $('#MyForm').validate({
            rules: {
                TEN_CUOC: "required",
                NAM_KT: {
                    required: true,
                    range: [2005, 2030]
                },
                NIEN_DO: {
                    required: true,
                    lessThan: "#NAM_KT"
                },
                MA_DVKT: "required",
                MA_LVKT: "required",
                MA_LHKT: "required",
                NGAY_TRINH_KH: { required: '#TRINH_KH:checked' },
                NGAY_DUYET_KH: { required: '#DUYET_KH:checked' },
                SO_QD: { required: '#DUYET_KH:checked' },
                NGAY_QD: { required: '#DUYET_KH:checked' },
                NGAY_BDQD: { required: '#DUYET_KH:checked' },
                SO_NGAY_KT: {
                    required: '#DUYET_KH:checked',
                    greaterThan: 0
                },
                NGAY_BDTT: { required: '#BAT_DAU_KT:checked' },
                NGAY_KTKH: { required: '#BAT_DAU_KT:checked' },
                NGAY_KTTT: { required: '#KET_THUC_KT:checked' },
                NGAY_TRINH_DUYET_BCKT: { required: '#TRINH_DUYET_BCKT:checked' },
                NGAY_DUYET_BCKT: { required: '#DUYET_BCKT:checked' },
                NGAY_TRINH_PHBC_DV: { required: '#TRINH_PHBC_DV:checked' },
                NGAY_TRINH_PHBC_VTH: { required: '#TRINH_PHBC_VTH:checked' },
                NGAY_PHBCKT: { required: '#PH_BCKT:checked' }
            },
            messages: {
                TEN_CUOC: "Không được để trống!",
                NAM_KT: {
                    required: "Nhập năm",
                    range: "Nhập một giá trị trong khoảng [{0}-{1}]"
                },
                NIEN_DO: { required: "Không được để trống!" },
                MA_DVKT: "Chọn một đơn vị thực hiện",
                MA_LVKT: "Chọn một lĩnh vực kiểm toán",
                MA_LHKT: "Chọn một loại hình kiểm toán",
                NGAY_TRINH_KH: "Không được để trống!",
                NGAY_DUYET_KH: "Không được để trống!",
                SO_QD: "Không được để trống!",
                NGAY_QD: "Không được để trống!",
                NGAY_TRINH_KH: "Không được để trống!",
                NGAY_DUYET_KH: "Không được để trống!",
                NGAY_BDQD: "Không được để trống!",
                SO_NGAY_KT: {
                    required: "Không được để trống!",
                    range: "Không đúng kiểu"
                },
                NGAY_BDTT: "Không được để trống!",
                NGAY_KTKH: "Không được để trống!",
                NGAY_KTTT: "Không được để trống!",
                NGAY_TRINH_DUYET_BCKT: "Không được để trống!",
                NGAY_DUYET_BCKT: "Không được để trống!",
                NGAY_TRINH_PHBC_DV: "Không được để trống!",
                NGAY_TRINH_PHBC_VTH: "Không được để trống!",
                NGAY_PHBCKT: "Không được để trống!"
            }
        });

        $('#NAM_KT').change(function () {
            $('#NIEN_DO').val(parseInt($('#NAM_KT').val()) - 1);
        });

        $("#TRINH_KH").click(function () {
            $('#MyForm input[alpha = "trinhkh"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "trinhkh"]').attr("disabled", !($(this).is(":checked")));
        });
        $("#DUYET_KH").click(function () {
            $('#MyForm input[alpha = "duyetkh"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "duyetkh"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#BAT_DAU_KT").click(function () {
            $('#MyForm input[alpha = "batdaukt"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "batdaukt"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#KET_THUC_KT").click(function () {
            $('#MyForm input[alpha = "ketthuckt"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "ketthuckt"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#TRINH_DUYET_BCKT").click(function () {
            $('#MyForm input[alpha = "trinhduyetbckt"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "trinhduyetbckt"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#DUYET_BCKT").click(function () {
            $('#MyForm input[alpha = "duyetbckt"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "duyetbckt"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#TRINH_PHBC_DV").click(function () {
            $('#MyForm input[alpha = "dvtrinhphbc"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "dvtrinhphbc"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#TRINH_PHBC_VTH").click(function () {
            $('#MyForm input[alpha = "thtrinhph"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "thtrinhph"]').attr("disabled", !($(this).is(":checked")))
        });
        $("#PH_BCKT").click(function () {
            $('#MyForm input[alpha = "ktnnphathanh"][type = "text"]').each(function () {
                $(this).closest(".form-group").removeClass("has-error").find(".tooltip").remove();
            });
            $('#MyForm input[alpha = "ktnnphathanh"]').attr("disabled", !($(this).is(":checked")))
        });

        $('#myModal').modal('show');

        //After closing the window, remove the content of the window
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('#MyForm').remove();
        })
    </script>
}