@model TDKT.Models.getCuocPlus_Result

<div class="col-lg-12">
    <table class="table table-bordered table-responsive" id="dataPlus">
        <thead>
            <tr>
                <th rowspan="2" class="stw">Kế hoạch kiểm toán</th>
                <th rowspan="2" class="stw">Quyết định kiểm toán</th>
                <th colspan="2">Thời gian</th>
                <th colspan="2" class="stw">Thời gian trình BCKT</th>
                <th rowspan="2" class="stw">Ngày duyệt BCKT theo</th>
                <th colspan="4">Phát hành BCKT</th>
            </tr>
            <tr>
                <th class="stw">Kiểm toán</th>
                <th class="stw">Kết thúc</th>
                <th class="stw">Để xét duyệt</th>
                <th rowspan="3" class="stw">Chậm(+) trước(-) so với Luật (ngày)</th>
                <th class="stw">Ngày trình của</th>
                <th class="stw">Theo luật</th>
                <th rowspan="3" class="stw">Ngày chính thức</th>
                <th class="stw">Chậm(+) trước(-) so với</th>
            </tr>
            <tr>
                <th>Trình</th>
                <th>Lưu hành</th>
                <th>Kế hoạch</th>
                <th>Kế hoạch</th>
                <th>Luật</th>
                <th>Luật</th>
                <th>Đơn vị</th>
                <th>+45</th>
                <th>45 ngày</th>
            </tr>
            <tr>
                <th>Duyệt</th>
                <th>Triển khai</th>
                <th>Thực tế</th>
                <th>Thực tế</th>
                <th>Thực tế</th>
                <th>Thực tế</th>
                <th>Vụ TH</th>
                <th>+60</th>
                <th>60 ngày</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ngaytrinhkh</td>
                <td>@Model.ngaybdqd</td>
                <td>@Model.songaykt</td>
                <td>@Model.ngayktkh</td>
                <td>@Model.ngaytrinhtheoluat</td>
                <td rowspan="2">@Model.chamtrinh</td>
                <td>@Model.ngayduyetbcluat</td>
                <td>@Model.ngaydvtrinhbc</td>
                <td>@Model.phluat45</td>
                <td rowspan="2">@Model.ngayphbckt</td>
                <td>@Model.champh45</td>
            </tr>
            <tr>
                <td>@Model.ngayduyetkh</td>
                <td>@Model.ngaybdtt</td>
                <td>@Model.songaytt</td>
                <td>@Model.ngaykttt</td>
                <td>@Model.ngaytrinhtt</td>
                <td>@Model.ngayduyettt</td>
                <td>@Model.ngaythtrinhbc</td>
                <td>@Model.phluat60</td>
                <td>@Model.champh60</td>
            </tr>
        </tbody>
    </table>
</div>
