@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Danh sách các cuộc kiểm toán năm " + @Session["year"].ToString();
    Session["Url"] = Request.RawUrl;
}
@section navPlus {
    @Html.Partial("_changeYear")
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Danh sách các cuộc kiểm toán năm @Session["year"].ToString()</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    @if (!this.User.IsInRole("Theo dõi đơn vị"))
                    {
                        <div class="col-sm-6 form-group">
                            @if (this.User.IsInRole("Cập nhật"))
                            {
                                <button class="btn btn-sm btn-success" id="btnAdd" data-toggle="tooltip" data-placement="top" title="Thêm cuộc kiểm toán mới"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
                            }
                            <a class="btn btn-sm btn-warning" id="btnPrint" data-toggle="tooltip" data-placement="top" title="In danh sách các cuộc kiểm toán trong năm @Session["year"]" href="@Url.Action("Danh_Muc", "Report")"><span class="glyphicon glyphicon-print"></span> In Báo cáo</a>
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.DropDownList("Status", new List<SelectListItem> { new SelectListItem { Text = "Chưa triển khai", Value = "0" }, new SelectListItem { Text = "Đã triển khai", Value = "1" }, new SelectListItem { Text = "Chưa kết thúc", Value = "2" }, new SelectListItem { Text = "Đã kết thúc", Value = "3" }, new SelectListItem { Text = "Đã trình duyệt BCKT", Value = "4" }, new SelectListItem { Text = "Đã xét duyệt BCKT", Value = "5" }, new SelectListItem { Text = "Đơn vị đã trình phát hành BCKT", Value = "6" }, new SelectListItem { Text = "Vụ TH đã trình phát hành BCKT", Value = "7" }, new SelectListItem { Text = "Đã phát hành BCKT", Value = "8" } }, " -- Trạng thái cuộc kiểm toán -- ", new { @class = "form-control input-sm", @style = "float: right" })
                        </div>
                        <div class="col-sm-3 form-group">
                            @Html.DropDownList("DonVi", (SelectList)ViewBag.Donvi, " -- KIỂM TOÁN NHÀ NƯỚC -- ", new { @class = "form-control input-sm", @style = "float: right" })
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-9 form-group"><a class="btn btn-sm btn-warning" id="btnPrint" data-toggle="tooltip" data-placement="top" title="In danh sách các cuộc kiểm toán trong năm @Session["year"]" href="@Url.Action("Danh_Muc", "Report")"><span class="glyphicon glyphicon-print"></span> In Báo cáo</a></div>
                        <div class="col-sm-3 form-group">
                            @Html.DropDownList("Status", new List<SelectListItem> { new SelectListItem { Text = "Chưa triển khai", Value = "0" }, new SelectListItem { Text = "Đã triển khai", Value = "1" }, new SelectListItem { Text = "Chưa kết thúc", Value = "2" }, new SelectListItem { Text = "Đã kết thúc", Value = "3" }, new SelectListItem { Text = "Đã trình duyệt BCKT", Value = "4" }, new SelectListItem { Text = "Đã xét duyệt BCKT", Value = "5" }, new SelectListItem { Text = "Đơn vị đã trình phát hành BCKT", Value = "6" }, new SelectListItem { Text = "Vụ TH đã trình phát hành BCKT", Value = "7" }, new SelectListItem { Text = "Đã phát hành BCKT", Value = "8" } }, " -- Trạng thái cuộc kiểm toán -- ", new { @class = "form-control input-sm", @style = "float: right" })
                        </div>
                    }
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myData" class="table hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th style="width:10px !important">STT</th>
                                <th></th>
                                <th>Tên cuộc kiểm toán</th>
                                <th style="width:130px !important">Đơn vị thực hiện</th>
                                <th style="width:80px !important">Số QĐ</th>
                                <th style="width:130px !important">Lĩnh vực</th>
                                @if (this.User.IsInRole("Cập nhật") || this.User.IsInRole("Quản trị"))
                                {
                                    <th style="width:50px !important"></th>}
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.js")"></script>
    <script>
        $(function () {
            o = g($('#myData'), "@Url.Action("AjaxHandler")");
            o.column(6).visible(false);
            $('#DonVi').change(function () { o.ajax.reload(); });
            $('#Status').change(function () { o.ajax.reload(); });
            o.on("click", 'tbody > tr[role = "row"] > td:not(:has(.btn))', function () {
                var data = o.row($(this).parents('tr')).data();
                var tr = $(this).closest('tr');
                var row = o.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    $.get("@Url.Action("cuocPlus")", { key: data["col1"] }, function (msg) {
                        return row.child(msg).show();
                    })
                    tr.addClass('shown');
                }
            });
        });
    </script>
    @if (this.User.IsInRole("Cập nhật"))
    {
        @Styles.Render("~/Content/toastr")
        <link rel="stylesheet" href="@Url.Content("~/Content/Datepicker/datepicker.css")" />
        @Scripts.Render("~/bundles/datepicker")
        <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/cultures/globalize.culture.vi-VN.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.globalize.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/edit.js")"></script>
        <script type="text/javascript">
            Globalize.culture("vi-VN");
            $(function () {
                o.column(6).visible(true);
                if ('@TempData["Msg"]' != "") {
                    loadSuccess('@TempData["Msg"]');
                }
                $('#btnAdd').click(function (e) {
                    e.preventDefault();
                    var url = "@Url.Action("Create")";
                    $.get(url, function (msg) {
                        $('body').append(msg);
                    });
                });
                s(o, 'button.delete', "@Url.Action("Delete")", "col1");
                s(o, 'button.edit', "@Url.Action("Edit")", "col1");
            });
        </script>
    }

}

