<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="@Url.Content("~/Content/Datepicker/datepicker.css")" />
    @Scripts.Render("~/bundles/jquery", "~/bundles/toastr", "~/bundles/modernizr", "~/bundles/bootstrap", "~/bundles/datepicker")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            dp = $("#todayPicker").datepicker({
                format: "dd/mm/yyyy",
                weekStart: 0,
                language: "vi",
                todayHighlight: true,
                todayBtn: "linked"
            });
            if ('@Session["date"]' == null) dp.datepicker("setDate", Date());
            else dp.datepicker("setDate", '@Session["date"]');
            dp.on("changeDate", function () {
                $.post('@Url.Action("chooseDate", "Home")', { key: formatDate($(this).datepicker("getDate")), code: '@HttpContext.Current.Session.SessionID' }, function (data) {
                    location.reload();
                });
            });
        });
    </script>
    <meta name="description" content="Quản lý tiến độ kiểm toán © Kiểm toán Nhà nước" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Quản lý tiến độ kiểm toán</a>
            </div>
            @Html.Partial("_changeYear")
            @*<a class="navbar-brand" href="index.html">Năm 2014 <b class="caret"></b></a>*@
            @*<div class="navbar-brand">
                <div class="input-group date col-sm-2" id="test2">
                    <input type="text" class="form-control"><span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>*@
            
            <!-- /.navbar-header -->
            @Html.Partial("_LoginPartial")
            <!-- /.navbar-top-links -->
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav main-menu">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home fa-fw"></i>
                                <span class="text">Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Charts")">
                                <i class="fa fa-bar-chart-o fa-fw"></i>
                                <span class="text">
                                    Biểu đồ
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "DanhSach")">
                                <i class="fa fa-table fa-fw"></i>
                                <span class="text">Danh sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-print fa-fw"></i>
                                <span class="text">
                                    Báo cáo
                                    <span class="glyphicon arrow"></span>
                                </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Danh_Muc", "Report")">Danh mục các cuộc kiểm toán</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Phu_Bieu_1", "Report")">Phụ biểu 01-Tổng hợp TĐKT của các đơn vị</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Phu_Bieu_2", "Report")">Phụ biểu 02-Tiến độ thực hiện các cuộc kiểm toán</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Phu_Bieu_3", "Report")">Phụ biểu 03-Tổng hợp tiến độ các cuộc kiểm toán</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        @if (this.User.IsInRole("Quản trị"))
                        {
                        <li>
                            <a href="#">
                                <i class="fa fa-gears fa-fw"></i>
                                <span class="text">
                                    Quản trị
                                    <span class="glyphicon arrow"></span>
                                </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "UsersAdmin")">Người sử dụng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RolesAdmin")">Quyền truy cập</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "DonVi")">Đơn vị thực hiện</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "LinhVuc")">Lĩnh vực kiểm toán</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "LoaiHinh")">Loại hình kiểm toán</a>
                                </li>
                            </ul>
                        </li>
                        }
                    </ul>
                    <!-- /#side-menu -->
                    <div class="sidebar-minified">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <div id="todayPicker"></div>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
</body>
</html>
