@{
    ViewBag.Title = "Trang chủ";
    Session["Url"] = Request.RawUrl;
}
@section navPlus {
    @Html.Partial("_changeYear")
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><i class="fa fa-home fa-fw"></i> Trang chủ<br /><small class="subtext">Tiến độ kiểm toán đến ngày @Session["date"].ToString()</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.TongSo</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Tổng số</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-refresh fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.ChuaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Chưa triển khai</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaTrienKhai</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Đã triển khai</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">@ViewBag.TrienKhai.DaKetThuc</p>
                        <p class="announcement-text">Cuộc</p>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="panel-footer announcement-bottom">
                    <span class="pull-left">Đã kết thúc</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Datatables/init.js")"></script>
}