@model TDKT.Models.IndexViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword) {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
            }
            else {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Số điện thoại: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null) {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        @*<p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>*@
    </div>
</div>
